body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
}

.main {
  margin: 30px auto;
  width: 840px;
}

.weather-wrapper {
  background-color: #497174;
  padding: 50px;
  border-radius: 40px;
  filter: drop-shadow(0 3px 3px gray);
}
